<!DOCTYPE HTML>
<html>

    {{ partial "header.html" . }}
    <body>

    {{ "<!-- Wrapper -->" | safeHTML }}
        <div id="wrapper">

            {{ partial "nav.html" . }}

        {{ "<!-- Main -->" | safeHTML }}
            <div id="main" class="alt">

                <!-- One -->
                    <section id="one">
                        <div class="inner single">
                            <header class="major">
                                {{ if .Params.firstheader }}
                                <h1>{{ .Params.firstheader }}</h1>
                                {{ else }}
                                <h1>{{ .Title }}</h1>
                                {{ end }}
                            </header>
                            {{ if .Params.image }}
                                <span class="image main"><img src="{{ .Site.Params.baseURL }}/img/{{ .Section }}/{{ .Params.image }}" alt="{{ .Title }}" /></span>
                            {{ end }}
                            {{ .Content }}
                            {{ $taxo := "tags" }} <!-- Use the plural form here -->
                            {{ with .Param $taxo }}
                                {{ $taxnum := sub (len .)  1 }}
                                <div class="meta">
                                <a title="Schlüsselwörter Systemische Therapie" href="{{ $.Site.Params.baseURL }}/{{ $taxo }}">Schlüssel{{ if gt (len .) 1 }}wörter{{ else }}wort{{ end }}</a>:
                                {{ range $index, $tagname := . }}
                                    {{- if and (gt $index 0) (lt $index $taxnum) }}, {{ end -}}
                                    {{ with $.Site.GetPage (printf "/%s/%s" $taxo $tagname) -}}
                                        <a href="{{ .Permalink }}"><strong>{{ $tagname }}</strong></a>
                                    {{- end -}}
                                {{- end -}}
                                </div>
                            {{ end }}
                        </div>
                    </section>
            {{ "<!-- Disqus Inject -->" | safeHTML }}
                {{ if .Site.DisqusShortname }}
                  {{ partial "disqus.html" . }}
                {{ end }}
            </div>
            
        {{ "<!-- Contact -->" | safeHTML}}
            {{ if .Site.Params.Contact.enable }}
                {{ partial "contact.html" . }}
            {{ end }}

        {{ "<!-- Footer -->" | safeHTML}}
            {{ if .Site.Params.footer.enable }}
                {{ partial "footer.html" . }}
            {{ end }}
        </div>

    {{ "<!-- Scripts -->" | safeHTML}}
        {{ partial "js.html" . }}

    </body>
</html>
