{{ "<!-- Contact -->" | safeHTML}}
    <section id="contact">
        <div class="inner">
            <section>
                <form id="contact" method="post" action="">
                    <div class="field half first">
                        <label for="name">Name *</label>
                        <input type="text" name="name" id="name" />
                        <label class="error" for="name" id="name_error">Diese Feld bitte ausfüllen!</label>
                    </div>
                    <div class="field half">
                        <label for="email">Email *</label>
                        <input type="text" name="email" id="email" />
                        <label class="error" for="email" id="email_error">Diese Feld bitte ausfüllen!</label>
                        <label class="error" for="email" id="email_invalid_error">Bitte eine richtige Email-Adresse angeben.</label>
                    </div>
                    <div class="field">
                        <label for="message">Nachricht *</label>
                        <textarea name="message" id="message" rows="6"></textarea>
                        <label class="error" for="message" id="message_error">Bitte eine Nachricht eingeben!</label>
                    </div>
                    <ul class="actions">
                    	<li><label class="success" for="submit" id="message_success"></label></li>
                        <li><input type="submit" id="submit" name="submit" value="{{ .Site.Params.Contact.buttonSend }}" class="special subbutton" /></li>
                        <li><input type="reset" value="{{ .Site.Params.Contact.buttonClear }}" /></li>
                    </ul>
                </form>
            </section>
            <section class="split">
                <section>
                    <div class="contact-method">
                        <span class="icon alt fa-envelope"></span>
                        {{ range .Site.Params.Contact.email }}
                        <h3>{{ .title }}</h3>
                        <a href="mailto:{{ .email }}">{{ .email }}</a>
                        {{ end }}
                    </div>
                </section>
                <section>
                    <div class="contact-method">
                        <span class="icon alt fa-phone"></span>
                        {{ range .Site.Params.Contact.phone }}
                        <h3>{{ .title }}</h3>
                        <span>{{ .phone }}</span>
                        {{ end }}
                    </div>
                </section>
                <section>
                    {{ range .Site.Params.Contact.address }}
                    <div class="contact-method">
                        <span class="icon alt fa-home"></span>
                        <h3>{{ .title }}</h3>
                        <span>{{ if .name }}{{ .name }}<br />{{end}}
                        {{ if .street }}{{ .street }}<br />{{end}}
                        {{ if .address }}{{ .address }}<br />{{end}}
                        {{ if .address2 }}{{ .address2 }}<br />{{end}}
                        {{ if .city }}{{ .city }}{{ end }}
                        {{ if .state }}{{ .state }},{{ end }}
                        {{ if .zip }}{{ .zip }}{{ end }}
                        {{ if .country }} <br /> {{ .country }} {{ end }}
                        </span>
                    </div>
                    {{ end }}
                </section>
            </section>
        </div>
    </section>
