{{ "<!-- Two -->" | safeHTML}}
    <section id="two">
        <div class="inner">
            <header class="kicker">
                {{ if .Site.Params.Two.subtitle }}
                <h5>{{ .Site.Params.Two.subtitle }}</h5>
                {{ end }}
            </header>
            <header class="major">
                <h2>{{ .Site.Params.Two.title}}</h2>
            </header>
            <p>{{ .Site.Params.Two.subtitle }}</p>
            {{ if .Site.Params.Two.buttonText }}
            <ul class="actions">
                <li><a href="{{ .Site.Params.Two.url | absURL}}" class="button grey next">{{ .Site.Params.Two.buttonText }}</a></li>
            </ul>
            {{ end }}
        </div>
    </section>